{% extends 'base.html' %} 
{% block title %} Profile {% endblock title %} 
{% block body %}
<div class="container mt-3">
  {% for message in messages %}

  <div
    class="alert alert-{{message.tags}} alert-dismissible fade show"
    role="alert"
  >
    <strong>{{message}}</strong>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% endfor %}

  <h1>Welcome to your Profile</h1>
  <table class="table table-info table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">Order ID</th>
        <th scope="col">Name</th>
        <th scope="col">Products</th>
        <th scope="col">Amount Paid</th>
        <th scope="col">Payment Status</th>
        <th scope="col">Address</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Delivery Status</th>
        <th scope="col">Delivered</th>
        <th scope="col">Date</th>
        <th scope="col">Cancel Order</th>
      </tr>
    </thead>
    <tbody>
      {% for i in items %}

      <tr>
        <th scope="row">{{i.oid}}</th>
        <td>{{i.name}}</td>
        <td>{{i.items_json}}</td>
        <td>{{i.amount}} INR</td>
        <td>{{i.paymentstatus}}</td>
        <td>{{i.address1}}</td>
        <td>{{i.phone}}</td>

        {% for j in status %}
        <td>{{j.update_des}}</td>

        {% if j.delivered %}
        <td><i class="fa-solid fa-circle-check"></i> Delivered</td>
        {% else %}
        <td><i class="fa-solid fa-truck"></i> Not Delivered</td>
        {% endif %}

        <td>{{j.timestamp}}</td>

        {% if j.delivered %}
        <td>
          <a
            type="button"
            href="/cancelorder/{{i.order_id}}"
            class="btn btn-outline-danger disabled"
            ><i class="fa-solid fa-trash"></i
          ></a>
        </td>
        {% else %}
        <td>
          <a
            type="button"
            href="/cancelorder/{{i.order_id}}"
            class="btn btn-outline-danger"
            ><i class="fa-solid fa-trash"></i
          ></a>
        </td>
        {% endif %} 
        {% endfor %}
        
      </tr>
      {% endfor %}

     
    </tbody>
  </table>
</div>
{% endblock body %}
